{{> header}}
<div>
    <div>
        <div class="col-md-3">
    <form action="" method="post">
        <div class="input-group">
        <input class="form-control" type="text" id="place" name="query" placeholder="Entry Country" required>
            <span class="input-group-btn">
                <button class="btn btn-default" formaction="/search"><i class="glyphicon glyphicon-search"></i></button><br>
            </span>
        </div>
    </form>
</div>
    </div>
</div>



<div class="col-md-9">
    <table class="table table-list-search">
        <thead>
        <tr>
            <th>Name</th>
            <th>Capital</th>
            <th>Region</th>
            <th>Population</th>
            <th>Currencies</th>
        </tr>
        </thead>
        <tbody>
        <tr>

        </tr>
        </tbody>
    </table>
</div>